---
import Layout from "../layouts/Layout.astro";
import AlarmDashboard from "../components/AlarmDashboard";
---

<Layout title="Bulk Alarm Dashboard">
  <main class="container mx-auto px-4 py-8">
    <AlarmDashboard client:load />
  </main>
</Layout>
